<form id='build-my-character'>

    <header id='bodyheader'>
        <h1>Stage 11 Preview</h1>
        
        <nav class='tabs'>
            <ul>
                <li><a href='/'>&laquo; {{__ "Back to intro"}}</a></li>
                <li><a rel='#class-tab' class='selected'>{{__ "Class"}}</a></li>
                <li><a rel='#options-tab' id='options-tab-link'>{{__ "Options"}}</a></li>
                <li><a rel='#appearance-tab' id='appearance-tab-link'>{{__ "Appearance"}}</a></li>
                <li><a rel='#download-tab' id='download-tab-link'>{{__ "Download"}}</a></li>
            </ul>
        </nav>
    </header>

    <section class='tab selected' id='class-tab'>
        <h2>{{__ "Name"}}</h2>
        <fieldset>
          <input id='character-name' class='name'>
        </fieldset>
        
        {{!-- Ancestries --}}
        <h2>{{__ "Ancestry"}}</h2>

        <fieldset id='ancestries'>
          <div class="yui3-g">
          {{#each ancestryColumns}}
            <div class="yui3-u-1-3">
              <ul>
                {{#each values}}
                  <li><label for='ancestry-{{e code}}'><input type='radio' id='ancestry-{{e code}}' name='ancestry' value='{{e code}}'> {{__ name}}</label></li>
                {{/each}}
              </ul>
            </div>
          {{/each}}

          {{!-- {{#each ancestryData}}
            <div class="yui3-u-1-3">
              {{#each groups}}
                <h3>{{__ name}}</h3>
                <ul>
                  {{#each values}}
                    <li><label for='ancestry-{{id}}'><input type='radio' id='ancestry-{{id}}' name='ancestry' value='{{id}}'> {{__ name}}</label></li>
                  {{/each}}
                </ul>
              {{/each}}
            </div>
          {{/each}} --}}
          </div>
          <div class='yui3-g'>
            <div class="yui3-u-1-3">
              <ul>
                <li><label for='ancestry-other'><input type='radio' id='ancestry-other' name='ancestry' value='' checked> {{__ "Other"}}</label></li>
              </ul>
            </div>
          </div>
          
          {{!-- Heritages --}}
          {{#each ancestries}}
          <div class='reveal reveal-heritage' id='reveal-heritage-{{e code}}'>
            {{#each selects}}
              <h3>{{__ name}}</h3>
              <fieldset>
                <div class="yui3-g">
                  {{#each values}}
                  <div class="yui3-u-1-3">
                    <ul>
                      <li><label for='heritage-{{e ../select}}-{{e code}}'><input type='radio' id='heritage-{{e ../select}}-{{e code}}' name='{{e ../select}}' value='{{code}}'> {{__ name}}</label></li>
                    </ul>
                  </div>
                  {{/each}}
                </div>
              
                <ul>
                  <li><label for='heritage-{{e select}}-none'><input type='radio' id='heritage-{{e select}}-none' name='{{e select}}' value='none' checked> {{__ "None"}}</label></li>
                </ul>
              </fieldset>
            {{/each}}
          </div>
          {{/each}}
        </fieldset>
    

        {{!-- Backgrounds --}}
        {{!-- <h2>{{__ "Background"}}</h2>
        <p>Not implemented yet.</p> --}}

        
        {{!-- Classes --}}
        <h2>{{__ "Class"}}</h2>

        <fieldset id='classes'>
          <div class="yui3-g">
          {{#each classColumns}}
            <div class="yui3-u-1-3">
              <ul>
                {{#each values}}
                  <li><label for='class-{{e code}}'><input type='radio' id='class-{{code}}' name='class' value='{{code}}'> {{__ name}}</label></li>
                {{/each}}
              </ul>
            </div>
          {{/each}}
          {{!-- {{#each classData}}
            <div class="yui3-u-1-3">
              {{#each groups}}
                <h3>{{__ name}}</h3>
                <ul>
                  {{#each values}}
                    <li><label for='class-{{id}}'><input type='radio' id='class-{{id}}' name='class' value='{{id}}'> {{__ name}}</label></li>
                  {{/each}}
                </ul>
              {{/each}}
            </div>
          {{/each}} --}}
          </div>
          
          <div class="yui3-g">
            <div class="yui3-u-1-3">
              <ul>
                <li><label for='class-generic'><input type='radio' id='class-generic' name='class' value='generic' checked> {{__ "Other"}}</label></li>
              </ul>
            </div>
          </div>

          {{!-- Subclasses --}}
          {{#each classes}}
          <div class='reveal reveal-subclass' id='reveal-subclass-{{code}}'>
            {{#each selects}}
              <h3>{{__ name}}</h3>
              <fieldset>
                <div class="yui3-g">
                  {{#each values}}
                  <div class="yui3-u-1-3">
                    <ul>
                      <li><label for='subclass-{{e ../select}}-{{e code}}'><input type='radio' id='subclass-{{e ../select}}-{{e code}}' name='{{e ../select}}' value='{{e code}}'> {{__ name}}</label></li>
                    </ul>
                  </div>
                  {{/each}}
                </div>
                
                <ul>
                  <li><label for='subclass-{{e select}}-none'><input type='radio' id='subclass-{{e select}}-none' name='{{e select}}' value='none' checked> {{__ "None"}}</label></li>
                </ul>
              </fieldset>
            {{/each}}
          </div>
          {{/each}}
        </fieldset>

        {{!-- Archetypes --}}
        <h2>{{__ "Archetype"}}</h2>

        <fieldset id='classes'>
          <div class="yui3-g">
            
          {{#each archetypeColumns}}
            <div class="yui3-u-1-3">
              <ul>
                {{#each values}}
                  <li><label for='archetype-{{e code}}'><input type='checkbox' id='archetype-{{e code}}' name='archetype-{{e code}}'> {{__ name}}</label></li>
                {{/each}}
              </ul>
            </div>
          {{/each}}
          {{!-- {{#each archetypeData}}
            <div class="yui3-u-1-3">
              {{#each groups}}
                <h3>{{__ name}}</h3>
                <ul>
                  {{#each values}}
                    <li><label for='archetype-{{id}}'><input type='checkbox' id='archetype-{{id}}' name='archetype-{{id}}'> {{__ name}}</label></li>
                  {{/each}}
                </ul>
              {{/each}}
            </div>
          {{/each}} --}}
          </div>
        </fieldset>

        <nav class='wizardnav'>
          &nbsp;
          <a href='#options-tab'><img src='/images/wiznext.png'/></a>
        </nav>
    </section>

    <section class='tab' id='options-tab'>

      <h2>{{__ "Beginners"}}</h2>

      <fieldset>
        <p><input type='checkbox' name='build' id='option-build'> <label for='option-build'>{{__ "Build a character"}}</label></p>
        <p class='info'>{{__ "A sheet to help beginners with the process of building their character."}}</p>
      </fieldset>
      
      <h2>{{__ "Legal"}}</h2>
      <fieldset id='legal'>
        <p><label for='option-permission'><input type='checkbox' name='permission' id='option-permission'> {{__ "Permission to print"}}</label></p>
        <p class='indent'>{{{__ "For detailed licensing information, see <a href='/legal'>Legal Info</a>"}}}.</p>
      </fieldset>

      <h2>{{__ "Pages"}}</h2>

      <fieldset>
        <p><label for="inventory-style">{{__ "Inventory style"}}</label>
          <select name="inventory-style" id="inventory-style">
            <option value="half" selected>{{__ "Half page"}}</option>
            <option value="full">{{__ "Full page"}}</option>
            <option value="both">{{__ "Both"}}</option>
          </select>
        </p>

        <h3>{{__ "Additional pages"}}</h3>

        <p><input type='checkbox' name='minis' id='option-minis'> <label for='option-minis'>{{__ "Map figure sheet"}}</label></p>
        <p class='info'>{{__ "Includes stand-up map figure and initiative tracker."}}</p>
        <p class='indent'>Size:
          <label for="mini-small"><input type="radio" name="mini-size" value="small" id="mini-small"> {{__ "Small"}}</label>
          <label for="mini-medium"><input type="radio" name="mini-size" value="medium" id="mini-medium"> {{__ "Medium"}}</label>
          <label for="mini-large"><input type="radio" name="mini-size" value="large" id="mini-large"> {{__ "Large"}}</label>
        </p>
      </fieldset>

      {{!-- <hr>
      {{#each baseOptions}}
        <p>
          <input type='checkbox' id='option-{{option}}' name='{{option}}'>
          <label for='option-{{option}}'>{{__ name}}</label>
        </p>
      {{/each}} --}}
      
      <nav class='wizardnav'>
        <a href='#class-tab'><img src='/images/wizprev.png'/></a>
        &nbsp;
        <a href='#appearance-tab'><img src='/images/wiznext.png'/></a>
      </nav>
    </section>

    <section class='tab' id='appearance-tab'>

      <h2>{{__ "Accessibility"}}</h2>

      <fieldset>
        <div class='yui3-g'>
          <div class='yui3-u-1-3'>
            <p id='high-contrast'><span><input type='checkbox' id='option-high-contrast' name='option-high-contrast'> <label for='option-high-contrast'>{{__ "High contrast"}}</label><span></span></p>
            <p class='info'>{{__ "Makes colours darker, removes white text."}}</p>
          </div>
          <div class='yui3-u-1-3'>
            <p id='large-print'><input type='checkbox' id='option-large-print' name='option-large-print'> <label for='option-large-print'>{{__ "Large print"}}</label></p>    
            <p class='info'>{{__ "Enlarges text and fields, omits some elements to fit on the page."}}</p>
          </div>
          <div class='yui3-u-1-3'>
            <p id='dyslexic'><input type='checkbox' id='option-dyslexic' name='option-dyslexic'> <label for='option-dyslexic'>{{__ "Dyslexic fonts"}}</label></p>
            <p class='info'>{{__ "Uses easy-to-read fonts, disables all-caps."}}</p>
          </div>
        </div>
      </fieldset>

      <div id='colour-row'>
      <h2>{{__ "Colour"}}</h2>
      <fieldset>
        <div class='yui3-g'>
          <div class='yui3-u-1-3'>
            <div id='colour-wheel'>
              <object data="/images/colour-wheel.svg" type="image/svg+xml" id="colour-wheel-svg" width="280" height="280"></object>
              {{!-- <img src='/images/colour-wheel.svg' width="280" height="280" usemap="#colour-wheel-map"/> --}}
              <input type='radio' name='print-colour' value='grey' id='colour-wheel-grey' checked>

              <input type='radio' name='print-colour' value='red' id='colour-wheel-red'>
              <input type='radio' name='print-colour' value='orange' id='colour-wheel-orange'>
              <input type='radio' name='print-colour' value='yellow' id='colour-wheel-yellow'>
              <input type='radio' name='print-colour' value='lime' id='colour-wheel-lime'>
              <input type='radio' name='print-colour' value='green' id='colour-wheel-green'>
              <input type='radio' name='print-colour' value='teal' id='colour-wheel-teal'>
              <input type='radio' name='print-colour' value='cyan' id='colour-wheel-cyan'>
              <input type='radio' name='print-colour' value='azure' id='colour-wheel-azure'>
              <input type='radio' name='print-colour' value='blue' id='colour-wheel-blue'>
              <input type='radio' name='print-colour' value='indigo' id='colour-wheel-indigo'>
              <input type='radio' name='print-colour' value='violet' id='colour-wheel-violet'>
              <input type='radio' name='print-colour' value='magenta' id='colour-wheel-magenta'>

              <input type='radio' name='print-colour' value='red2' id='colour-wheel-red2'>
              <input type='radio' name='print-colour' value='orange2' id='colour-wheel-orange2'>
              <input type='radio' name='print-colour' value='yellow2' id='colour-wheel-yellow2'>
              <input type='radio' name='print-colour' value='lime2' id='colour-wheel-lime2'>
              <input type='radio' name='print-colour' value='green2' id='colour-wheel-green2'>
              <input type='radio' name='print-colour' value='teal2' id='colour-wheel-teal2'>
              <input type='radio' name='print-colour' value='cyan2' id='colour-wheel-cyan2'>
              <input type='radio' name='print-colour' value='azure2' id='colour-wheel-azure2'>
              <input type='radio' name='print-colour' value='blue2' id='colour-wheel-blue2'>
              <input type='radio' name='print-colour' value='indigo2' id='colour-wheel-indigo2'>
              <input type='radio' name='print-colour' value='violet2' id='colour-wheel-violet2'>
              <input type='radio' name='print-colour' value='magenta2' id='colour-wheel-magenta2'>
            </div>
            <p><input type='radio' name='print-colour' value='custom' id='print-colour-custom'> <label for='print-colour-custom'>Custom:</label> 
              <span class='colour-input'># <input type='text' size='6'></span>
            </p>
          </div>
          <div class='yui3-u-2-3'>
            <h3>{{__ "Brightness"}}</h3>
            <div class='yui3-g'>
              <div class='yui3-u-1-5'>
                <input type='radio' id='intensity-lightest' name='intensity' value='lightest'> <label class='colour-sample' for='intensity-lightest'><span id='colour-lightest'></span></label>
              </div>
              <div class='yui3-u-1-5'>
                <input type='radio' id='intensity-lighter' name='intensity' value='lighter'> <label class='colour-sample' for='intensity-lighter'><span id='colour-lighter'></span></label>
              </div>
              <div class='yui3-u-1-5'>
                <input type='radio' id='intensity-normal' name='intensity' value='normal' checked> <label class='colour-sample' for='intensity-normal'><span id='colour-normal'></span></label>
              </div>
              <div class='yui3-u-1-5'>
                <input type='radio' id='intensity-darker' name='intensity' value='darker'> <label class='colour-sample' for='intensity-darker'><span id='colour-darker'></span></label>
              </div>
              <div class='yui3-u-1-5'>
                <input type='radio' id='intensity-darkest' name='intensity' value='darkest'> <label class='colour-sample' for='intensity-darkest'><span id='colour-darkest'></span></label>
              </div>
            </div>
            <p>{{__ "You may need to adjust brightness to suit your printer."}}</p>

            <h3>{{__ "Accent Colour"}}</h3>
            <p><input type='radio' id='accent-none' name='accent-colour' value='none' checked> <label for='accent-none'>{{__ "No accent colour"}}</label></p>
            <div class='yui3-g'>
              <div class='yui3-u-1-4'>
                <ul>
                  <li><input type='radio' id='accent-red' name='accent-colour' value='red'> <label class='colour-sample' for='accent-red'><span id='colour-red'></span> {{__ "Red"}}</label></li>
                  <li><input type='radio' id='accent-orange' name='accent-colour' value='orange'> <label class='colour-sample' for='accent-orange'><span id='colour-orange'></span> {{__ "Orange"}}</label></li>
                  <li><input type='radio' id='accent-yellow' name='accent-colour' value='yellow'> <label class='colour-sample' for='accent-yellow'><span id='colour-yellow'></span> {{__ "Yellow"}}</label></li>
                </ul>              
              </div>
              <div class='yui3-u-1-4'>
                <ul>
                  <li><input type='radio' id='accent-lime' name='accent-colour' value='lime'> <label class='colour-sample' for='accent-lime'><span id='colour-lime'></span> {{__ "Lime"}}</label></li>
                  <li><input type='radio' id='accent-green' name='accent-colour' value='green'> <label class='colour-sample' for='accent-green'><span id='colour-green'></span> {{__ "Green"}}</label></li>
                  <li><input type='radio' id='accent-teal' name='accent-colour' value='teal'> <label class='colour-sample' for='accent-teal'><span id='colour-teal'></span> {{__ "Teal"}}</label></li>
                </ul>
              </div>
              <div class='yui3-u-1-4'>
                <ul>
                  <li><input type='radio' id='accent-cyan' name='accent-colour' value='cyan'> <label class='colour-sample' for='accent-cyan'><span id='colour-cyan'></span> {{__ "Cyan"}}</label></li>
                  <li><input type='radio' id='accent-azure' name='accent-colour' value='azure'> <label class='colour-sample' for='accent-azure'><span id='colour-azure'></span> {{__ "Azure"}}</label></li>
                  <li><input type='radio' id='accent-blue' name='accent-colour' value='blue'> <label class='colour-sample' for='accent-blue'><span id='colour-blue'></span> {{__ "Blue"}}</label></li>
                </ul>
              </div>
              <div class='yui3-u-1-4'>
                <ul>
                  <li><input type='radio' id='accent-indigo' name='accent-colour' value='indigo'> <label class='colour-sample' for='accent-indigo'><span id='colour-indigo'></span> {{__ "Indigo"}}</label></li>
                  <li><input type='radio' id='accent-violet' name='accent-colour' value='violet'> <label class='colour-sample' for='accent-violet'><span id='colour-violet'></span> {{__ "Violet"}}</label></li>
                  <li><input type='radio' id='accent-magenta' name='accent-colour' value='magenta'> <label class='colour-sample' for='accent-magenta'><span id='colour-magenta'></span> {{__ "Magenta"}}</label></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </fieldset>
      </div>

      <div class='yui3-g'>
        <div class='yui3-u-2-5'>
          <h2>{{__ "Portrait"}}</h2>
            
          <div class='well well-drop-zone' id='iconic'>
            <input type='hidden' name='iconic-portrait' id='iconic-portrait' value='default'/>
            <img src='/iconics/generic.png' id='iconic-generic' class='selected' />
            <img id='iconic-custom' class='custom' />
            {{#each iconics}}
              <img data-src='{{this.url}}' id='iconic-{{this.id}}'/>
            {{/each}}
            <p><a class='button' href='javascript:void(0);' id='select-iconic-button'>{{__ "Select portrait"}}</a></p>
          </div>
          
          {{!-- <h3>{{__ "Animal Portrait"}}</h3>
            
          <div class='well well-drop-zone' id='animal'>
            <input type='hidden' name='animal-portrait' id='animal-portrait' value='default'/>
            <img id='iconic-custom' class='custom' />
            {{#each iconics}}
              <img data-src='{{this.url}}' id='iconic-{{this.id}}'/>
            {{/each}}
            <p><a class='button' href='javascript:void(0);' id='select-animal-button'>{{__ "Select portrait"}}</a></p>
          </div> --}}
        </div>

        <div class='yui3-u-3-5'>
          <div id='background-area'>
          <h2>{{__ "Background"}}</h2>
          <div id='print-backgrounds'>
            <input type='radio' name='print-background' value='none' id='print-background-none' checked>
            <label for='print-background-none'><u></u><span>White</span></label>

            <input type='radio' name='print-background' value='magnolia' id='print-background-magnolia'>
            <label for='print-background-magnolia'><u></u><span>Magnolia</span></label>

            <input type='radio' name='print-background' value='backgrounds/paper3.jpg' id='print-background-parchment'>
            <label for='print-background-parchment'><img src='/images/print-background-parchment.png'><span>Parchment</span></label>

            <input type='radio' name='print-background' value='backgrounds/frost1.jpg' id='print-background-frost'>
            <label for='print-background-frost'><img src='/images/print-background-frost.png'><span>Frost</span></label>
          </div>

          <h2>{{__ "Watermark"}}</h2>
          <p><label for='has-watermark'><input type="checkbox" name="has-watermark" id="has-watermark" /> {{__ "Watermark every page"}}</label></p>
          <p><input type='text' name='watermark' id='watermark' class='well' placeholder='YOUR MESSAGE' /></p>
          </div>

          <h2>{{__ "Logo"}}</h2>
          <div class='well well-drop-zone' id='logo'>
            <input type='hidden' name='logo' id='logo-select' value='pathfinder/Pathfinder Second Edition/Pathfinder 2e.png' />
            <img id='iconic-custom' class='custom' />
            {{#each logos}}
              <img src='{{url}}' data-id='{{id}}' id='logo-{{id}}' {{#ifEq id @root.gameData.defaultLogo}}class='selected'{{/ifEq}} />
            {{/each}}
            <p><a class='button' href='javascript:void(0);' id='select-logo-button'>{{__ "Select logo"}}</a></p>
          </div>
        </div>
      </div>

      <nav class='wizardnav'>
        <a href='#options-tab'><img src='/images/wizprev.png'/></a>
        &nbsp;
        <a href='#download-tab'><img src='/images/wiznext.png'/></a>
      </nav>
    </section>

    <section class='tab' id='download-tab'>

      {{!-- Languages --}}
      {{!-- <h2>{{__ "Language"}}</h2> --}}

      <h2>{{__ "Format"}}</h2>
      <fieldset>
        <div class='yui3-g'>
          <div class='yui3-u-1-3'>
            <p>
              <input type='radio' name='download-format' value='html' id='download-format-html' checked>
              <label for='download-format-html'><b>HTML</b></label>
            </p>
            <p class='info'>{{__ "Allows values to be filled in"}}</p>
          </div>
          
          <div class='yui3-u-2-3'>
            <p>
              <input type='radio' name='download-format' value='pdf' id='download-format-pdf'>
              <label for='download-format-pdf'><b>PDF</b></label>
            </p>
            <p class='info'>{{__ "Use this if you have trouble printing HTML"}}</p>
            <p class='indent'><b>{{__ "Paper size:"}}</b>
              <input type='radio' name='download-paper' value='Letter' id='download-letter' checked>
              <label for='download-letter'>US Letter</label>

              <input type='radio' name='download-paper' value='A4' id='download-a4'>
              <label for='download-a4'>A4</label>
            </p>
          </div>
        </div>
      </fieldset>

      <h2>{{__ "Download"}}</h2>
        <p class='center'>
          <input type="submit" value="Download"/>
        </p>
      
      <nav class='wizardnav'>
        <a href='#appearance-tab'><img src='/images/wizprev.png'/></a>
        &nbsp;
      </nav>
    </section>


    <section class='dialog select-dialog' id='iconic-select-dialog'><div class='inner'>
      <h2>{{__ "Select a character picture"}}</h2>
      <div id='iconic-set-list' class='set-list'>
        <a id='iconic-select-generic' data-set-id='iconic-image-list-generic' class='selected'>
          <span class='group'>{{__ "Dyslexic Studeos"}}</span>
          <span class='name'>{{__ "General purpose"}}</span>
        </a>
        {{#each iconicGroups}}
          <a id='iconic-select-{{id}}' data-set-id='iconic-image-list-{{id}}'>
            <span class='group'>{{folder}}</span>
            <span class='name'>{{name}}</span>
          </a>
        {{/each}}
      </div>
      <div id='iconic-image-list' class='image-list well'>
        <div id='iconic-image-list-generic' class='image-select-set selected'>
          <a data-id='generic'><img src='/iconics/generic.png'/>{{__ "Generic"}}</a>
          <a data-id='none'><img src='/iconics/none.png'/>{{__ "None"}}</a>
        </div>
        {{#each iconicGroups}}
          <div id='iconic-image-list-{{id}}' class='image-select-set'>
            {{#each assets}}
              <a data-id='{{id}}' data-value='{{value}}'><img src='/images/progress.gif' data-src='{{url}}'>{{name}}</a>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div></section>

    <section class='dialog select-dialog' id='logo-select-dialog'><div class='inner'>
      <h2>{{__ "Select a logo"}}</h2>
      <div id='logo-set-list' class='set-list'>
        <a id='logo-select-generic' data-set-id='logo-list-generic' class='selected'>
          <span class='group'>{{__ "Dyslexic Studeos"}}</span>
          <span class='name'>{{__ "General purpose"}}</span>
        </a>
        {{#each logoGroups}}
          <a id='logo-select-{{id}}' data-set-id='logo-list-{{id}}'>
            <span class='group'>{{folderName}}</span>
            <span class='name'>{{name}}</span>
          </a>
        {{/each}}
      </div>
      <div id='logo-list' class='image-list well'>
        <div id='logo-list-generic' class='image-select-set selected'>
          <a data-id='none' data-code='none'><img src='/iconics/none.png'/>{{__ "None"}}</a>
        </div>
        {{#each logoGroups}}
          <div id='logo-list-{{id}}' class='image-select-set'>
            {{#each assets}}
            <a data-id='{{id}}' data-value='{{value}}'><img src='/images/progress.gif' data-src='{{url}}'/></a>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div></section>
</form>

<form id='pf2-form' style='display: none;' method='post' action='/download/pathfinder2' enctype='application/x-www-form-urlencoded'>
    <input type='hidden' id='request' name='request'/>
</form>
