
<header id='bodyheader'>
    <h1>{{__ "Dyslexic Character Sheets"}}</h1>
      <nav class='tabs'>
        <ul>
          {{!-- <li><a href='/'>&laquo; {{__ "Back to intro"}}</a></li> --}}
          <li><a rel='#login-tab' class='selected' id='login-tab-link'>{{__ "Login"}}</a></li>
          </ul>
        </nav>
</header>

<section class='tab selected' id=''>
    <p>{{__ "Patrons and contributors to the project get early access to content on the dev site."}}</p>
    
    <div class="yui3-g">
        <div class="yui3-u-1-2">
            <h3>{{__ "Patreon"}}</h3>
            <p>{{{__ "Check the <a href='https://www.patreon.com/dyslexic_charactersheets/posts'>Dyslexic Character Sheets Patreon Blog</a> for a login link."}}}</p>

            <h3>{{__ "Token"}}</h3>
            <p>{{__ "Enter a login token:"}}</p>
            <form action='/auth/token-login' method='get'>
                <p><input name='token'></p>
            </form>
        </div>
        <div class="yui3-u-1-2">
            <h3>{{__ "Translators"}}</h3>
            <p>{{__ "Log into the translators' website then click the button on your dashboard to log in here."}}</p>
            <p>{{__ "If you'd like to help translate, send me a message."}}</p>
        </div>
    </div>

    <h4>Cookies</h4>
    <p>{{__ "Logging in will set a cookie on your computer. We do not keep any personal information about you."}}</p>

    {{#if allowJustLogin}}
    <a class='button' href='/auth/just-login'>{{__ "Just Login"}}</a>
    {{/if}}
</section>