<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{__ title}}</title>
        
        <link rel="stylesheet" media="screen" href="/stylesheets/main.css"/>
        <link rel="shortcut icon" type="image/png" href="/images/favicon16.png"/>

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </head>
<body>
    {{{body}}}

        {{!-- <aside class="linkbar">
          <a class="patreon-link" href="https://www.patreon.com/dyslexic_charactersheets"></a>

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline;">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="marcus.downing+paypal@gmail.com">
            <input type="hidden" name="lc" value="GB">
            <input type="hidden" name="item_name" value="Dyslexic Character Sheets">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="GBP">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
            <input type="image" src="/images/paypal_btn_donate_SM.gif" border="0" name="submit" alt="PayPal" style="vertical-align: middle;">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
          </form>

        </aside> --}}

        <aside id='messageme'>

          <div>
            <p><a class='button facebook' href='https://www.facebook.com/groups/dyslexic-charactersheets/'>{{__ "Facebook group"}}</a></p>
            <p><a rel='#message-lightbox' class='button lightbox messageme' href='/message'>{{__ "Leave a message"}}</a></p>
          </div>

          {{!-- <p><a class='button' href='/howto#translate'>{{__ "Translate"}}</a></p> --}}

          {{#if isLoggedIn}}
          <div class="login-info">
            <p>{{__ "You are logged in!"}}</p>
            <p><a class='button' href='/auth/logout'>{{__ "Logout"}}</a></p>
          </div>
          {{else}}
          <div class="login-info">
            <p>{{__ "Patrons get extra features!"}}</p>
            <p><a class='button lightbox login-button' rel='#login-lightbox'>{{__ "Login"}}</a></p>
            <p><a href='/patrons'>{{__ "Learn more"}}</a></p>
          </div>
          {{/if}}
        </aside>

        <div id='blanket'></div>

        <div id='message-lightbox' class='lightbox'>
          <section class='note'>
            <a class='dialog-close'>&times;</a>
            <form id='message-form' method='post' action='/message' class='rotate'>
              <div class='inner'>
                <textarea id='message' name='message'></textarea>

                <label for='game'>Which game is this about?</label>
                <p>
                  <label><input type='radio' name='game' value='{{verifyGamePf2e}}'> Pathfinder 2e</label>
                  <label><input type='radio' name='game' value='{{verifyGamePf1e}}'> Pathfinder 1e</label>
                  <label><input type='radio' name='game' value='{{verifyGameSf}}'> Starfinder</label>
                  <label><input type='radio' name='game' value='{{verifyGameDnd35}}'> D&amp;D 3.5</label>
                </p>

                <label for='author'>
                  Your name:
                  <input id="author" name="author" type="text" placeholder="The Internet" class="box">
                </label>
                <label for="email">
                  Optionally, your email address:
                  <input id="email" name="email" type="email" placeholder="But only if you feel like it" class="box">
                </label>

                <p id='human-line'>Are you human?
                  <label><input type='radio' name='verify' value='{{verifyCodeHuman}}'> {{humanYes}}</label>
                  <label><input type='radio' name='verify' value='{{verifyCodeFake}}'> {{humanNo}}</label>
                </p>

                <input id='validation' type='hidden' name='validation' value='{{ validationToken }}'/>
                
                <a id='message-send'>Send message</a>
              </div>
            </form>

            <div id='message-ok' class='rotate'>
              <div class='inner'>
                <h2>Message sent!</h2>
              </div>
            </div>

            <div id='message-error' class='rotate'>
              <div class='inner'>
                <h2>Error &nbsp; :(</h2>
              </div>
            </div>
          </section>
        </div>

        <div id='login-lightbox' class='lightbox'>
          <section class='dialog-lightbox'>
            <a class='dialog-close'>&times;</a>
            <h3>LOGIN</h3>
            <p>{{__ "Patrons and contributors to the project get extra features, like automatic calculations and the ability to save character sheets."}}</p>
            
            <p class='center'><a class='button button-patreon-login' href='{{patreon_login_url}}'>Login with Patreon</a></p>
            
            <div class="yui3-g">
                <div class="yui3-u-1-2">
                    <h4>Cookies</h4>
                    <p>{{__ "Logging in will set a cookie on your computer."}}</p>
                    <p>{{__ "We do not keep any personal information about you."}}</p>
                </div>
                <div class="yui3-u-1-2">
                    <h3>{{__ "Translators"}}</h3>
                    <p>{{__ "Translators get free access to patron features."}}</p>
                    <p>{{__ "Log into the translators' website and click the button on your dashboard."}}</p>
                    <p>{{__ "If you'd like to help translate, send me a message."}}</p>
                </div>
            </div>
          </section>
        </div>

        <div id='login-fail-lightbox' class='lightbox'>
          <section class='dialog-lightbox'>
            <a class='dialog-close'>&times;</a>
            <h3>Could not log you in</h3>
            <p>Either you aren't currently a patron, or something went wrong.</p>
            <p>If you are a patron, you can <a href='{{patreon_login_url}}'>try again</a>.</p>
          </section>
        </div>

        <div id='login-success-lightbox' class='lightbox'>
          <section class='dialog-lightbox'>
            <a class='dialog-close'>&times;</a>
            <h3>You are logged in</h3>
          </section>
        </div>

        <footer>
          <div class='yui3-g'>
            <div class='yui3-u-2-3'>
              <p>{{{__ "Copyright &copy; Marcus Downing. This product is released under the Artistic License 2.0, and uses properties covered by the Open Game License. I thank everyone who has helped out with feedback, fixes and contributions."}}}</p>
            </div>
            <div class='yui3-u-1-3'>
              <p class='center'><a class='button' href='/legal'>{{__ "Legal Information"}}</a></p>
            </div>
          </div>
        </footer>

<a href="https://github.com/dyslexic-charactersheets"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>

        <script src="/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="/javascripts/{{scriptFile}}" type="text/javascript"></script>
        <script>
          var isLoggedIn = {{#if isLoggedIn}}true{{else}}false{{/if}};
        </script>

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76201319-1', 'auto');
  ga('send', 'pageview');

      </script> 
</body>

</html>